body{
	background:url(avtar.png);
	background-size: cover;
	font-family:arial ;


}
.wrap
{

	max-width: 350px;
	border-radius: 20px;
	margin:auto;
     background: rgb(0,0,0,0.8);
     box-sizing: border-box;
     padding: 40px;
     color: #fff;


}